.docfilter {
  padding: 8.7% 1% !important;
  background-color: rgba(211, 211, 211, 0.35);
}
.navsrch {
  width: 80% !important;
  display: flex;
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-bottom: 2%;

  margin: 0 auto !important;
  background-color: rgba(173, 216, 230, 0.25);
  left: 11%;
}
.searchcontent {
  margin: 0 auto !important;
  width: 100%;
  display: flex;
}
.filt {
 
  width: 59%;
}
.filt1 {
  background-color: red;
  width: 20%;
}
.filt2 {
  background-color: yellow;
  width: 20%;
}
