.LoginSignUpContainer {
  margin: 0% auto !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(16, 221, 204, 0.067);
}
.LoginSignUpBox {
  padding: 10px;
  align-items: center;
  display: flex;
  margin: 9% 0 !important;
  border-radius: 30px;
  border: 1px solid rgb(3, 3, 3);
  background-color: rgba(231, 231, 231, 0.217);
  width: 33vw !important;
  height: 120vh;
  box-sizing: border-box;
  overflow: hidden;
}
.login_signUp_toggle {
  display: flex;
  height: 4.5vmax;
}
.login_signUp_toggle > p {
  color: rgba(0, 0, 0, 0.678);
  font: 300 1vmax;
  transition: all 0.5s;
  cursor: pointer;
  padding: 45px 45px;
  display: grid;
  place-items: center;
  font-weight: bold;
  width: 100%;
}
.login_signUp_toggle > p:hover {
  color: tomato;
  font-weight: bold;
}

.button1 {
  background-color: tomato;
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}
.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 80%;
  transition: all 0.6s;
}
.signUpForm {
  transform: translateY(-100%) translateX(-100vmax);
}
.loginForm > div,
.signUpForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.loginForm > div > input,
.signUpForm > div > input,
.signUpForm > div > select {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 1.1vmax cursive;
  outline: none;
}
.loginForm > div > svg,
.signUpForm > div > svg {
  transform: translateX(2vmax);
  font-size: 1.6vmax;
  color: green;
}
.loginForm > div > input:focus,
.signUpForm > div > input:focus,
.signUpForm > div > select:focus {
  border-radius: none !important;
  border: 1.8px solid rgba(0, 0, 255, 0.469);
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
}
.redd {
  border: 1.8px solid red;
}
.loginForm > a {
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 0.8vmax;
}

.loginForm > a:hover {
  color: black;
  font-weight: bold;
}
.loginBtn,
.signUpBtn {
  border: none;
  font-weight: bold;
  background-color: tomato;
  width: 70% !important;
  padding: 0.5vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  font-size: 17px !important;
  margin-top: 15px;
}

.loginBtn:hover,
.signUpBtn:hover {
  background-color: rgb(179, 66, 46);
}

.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0%);
}
.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}

@media screen and (max-width: 600px) {
  .LoginSignUpContainer {
    background-color: white;
  }
  .LoginSignUpBox {
    width: 100vw;
    height: 95vh;
  }
  .login_signUp_toggle {
    height: 5vmax;
  }
  .login_signUp_toggle > p {
    font: 300 1.5vmax "Roboto";
  }

  .loginForm,
  .signUpForm {
    padding: 5vmax;
  }

  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .loginForm > div > svg,
  .signUpForm > div > svg {
    font-size: 2.8vmax;
  }

  .loginForm > a {
    font: 500 1.8vmax "Gill Sans";
  }

  #registerImage > img {
    width: 8vmax;
    border-radius: 100%;
  }

  #registerImage > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax cursive;
  }

  .loginBtn,
  .signUpBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
.tobtn1 {
  padding: 30px 0;
  align-content: center !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: row !important;
}
.tobtn {
  padding: 10px 20px;
  min-width: 300px;
  background: #ffc909;
  border-radius: 13px;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  color: #1b2746;
}
.tobtn:hover {
  background-color: black;
  color: white;
  font-weight: bold;
  border: 2px solid #ffc909;
}
.check {
  display: flex !important;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
  padding: 0% !important;
  margin-left: 15px !important;
  width: 100% !important;
}
.check input {
  height: 20px !important;
  width: 8% !important;
}
.check input:focus {
  box-shadow: none !important;
}
.check label {
  font-size: 17px !important;
  font-weight: 500 !important;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.verific {
  padding-top: 175px;
  padding-bottom: 160px;
  text-align: center;
  border: solid 1px #ccc;
  width: 100%;
}
.verific1 {
  width: 40%;
  margin: 0 auto;
  background-color: rgba(173, 216, 230, 0.5);
  height: 350px;
  padding-top: 140px;
  border-radius: 20px;
}
.btnverifc {
  padding: 20px 50px;
  min-width: 370px;
  background: rgba(0, 128, 0, 0.498);
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.btnverifc:hover {
  background: rgba(0, 128, 0);
  color: black;
  font-weight: bold;
  border: 1px solid #ffc909;
}
