.rdvv {
  padding-top: 9% !important;
  width: 85%;
  margin-left: 15% !important;
  padding-bottom: 9% !important;
}
.ahhhhh {
  width: 100% !important;
  margin: 2% auto!important;
  background-color: red;

}
.input11 {
  padding: 0.5vmax 0.8vmax 0.5vmax 0.7vmax;
  width: 90%;
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}
.tthh {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.tthh1 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 1% 0% !important;
}
.msg11 {
  padding: 2% 0 !important;
  letter-spacing: 1.5px;
  background-color: rgba(0, 255, 255, 0.17);
  margin: 0 auto !important;
  font-size: 40px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.503);
  width: 71% !important;
  display: flex;
  justify-content: center;
  color: red;
  border-radius: 15px;
}
