.sidebar {
  margin-top: 50px;
  width: 15%;
  height: 100vh;
  background-color: #312e81;
  color: #9ca3af;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: fixed;
  z-index: 1;
  padding-top: 35px;
}
.sidebar-top,
.sidebar-center,
.sidebar-bottom {
  display: flex;
  /* align-items: center; */
  width: 100%;
  border-bottom: 1px solid #d22222;
  padding: 20px 0;
  margin-bottom: 10px;
  /* background-color: rebeccapurple; */
}
.sidebar-top{
  text-align: center;
  /* background-color: red; */
  padding-left: 0px;
}
.sidebar-top h4{
  text-align: center!important;
  text-transform: capitalize;
  font-weight: bold;
  color: #d22222;
  margin: 0 auto;


}

.sidebar-center {
  padding: 0;
}

.sidebar-bottom {
  justify-content: center;
  border: none;
}

.logo {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  padding-left: 10px;
}

.brand {
  font-weight: bold;
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.list-item {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.list-item-icon {
  width: 30px;
  font-size: 20px;
}

.active,
.list-item:hover {
  background-color: #374151;
  color: white;
}
.list-item:active {
  background-color: #374151;
  color: white;
}

.color-box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #9ca3af;
  margin-right: 15px;
  cursor: pointer;
}

.dark {
  background-color: #111827;
}

.night {
  background-color: #312e81;
}

.light {
  background-color: #f3f4f6;
}

.sidebar.night {
  background-color: #312e81;
  color: #b4bbc7;
}

.list-item.night.active {
  background-color: #4338ca;
}

.sidebar.light {
  background-color: #f3f4f6;
  color: #111827;
}

.list-item.light.active {
  background-color: #d1d5db;
  color: #111827;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 50px;
  }
  .brand,
  .list-item-text {
    display: none;
  }
}
