.alluser {
  width: 95% !important;
  padding: 1%;
  border: 1px solid rgb(156, 149, 149);
  border-radius: 25px;
  margin: 6% auto !important;
}
.all {
  width: 81% !important;
  padding: 1%;
  border: 1px solid rgb(6, 6, 6);
  border-radius: 20px;
  margin: 90px 0% 3% 17% !important;
}
.f1 {
  align-items: center;
  width: 100%;
}
.f2 {
  width: 80%;
  margin: 3% auto;
}
.profile1 {
  margin: 5px 0;
  padding: 1vmax 3vmax;
  padding-right: 0.5vmax;
  width: 80% !important;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  font: 300 1vmax cursive;
  outline: none;
  cursor: not-allowed;
}
.profile1 input {
  margin-left: 2px;
  cursor: not-allowed;
  border: none;
  background-color: white;
}
.profile1 i {
  margin: 0 2%;
  font-size: 18px !important;
}
.profile {
  border: 2px solid black;
  margin: 10px 0;
  width: 80% !important;
  padding: 0%;
  border-radius: 10px;
}
.profile input {
  border: 0 !important;
  padding: 1vmax 1vmax;
  padding-right: -15vmax;
  width: 93% !important;
  box-sizing: border-box;
  flex-direction: row !important;
  border-radius: 5px;
  font: 300 0.9vmax cursive;
  outline: none;
  max-width: 2% 0;
}
.profile > svg {
  transform: translateX(2vmax);
  transform: translatey(-0.3vmax);
  font-size: 1.8vmax;
  color: rgb(105, 90, 238);
}
.profile input:focus,
.profile select:focus {
  box-shadow: -0px 0px 17px 5px rgba(0, 0, 0, 0.47);
  margin-left: 10px !important;
  width: 91.2% !important;
}
.option {
  color: black;
}
.profile2 {
  border: 2px solid black;
  margin: 10px 0;
  width: 80% !important;
  padding: 0%;
  border-radius: 10px;
}
.profile2 > svg {
  transform: translateX(2vmax);
  transform: translatey(0.6vmax);
  font-size: 1.8vmax;
  color: rgb(105, 90, 238);
}
.profilinp {
  margin-left: 30px !important;
  margin-top: -24px !important;
  border: none !important;
  border-radius: 10px !important;
}

.profile input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome */
.profile input::-webkit-inner-spin-button,
.profile input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btnprofile {
  margin-top: 2%;
  border: none;
  background-color: tomato;
  color: white;
  font: 300 1.1vmax;
  width: 20%;
  margin-left: 37.5% !important;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}
.btnprofile1 {
  margin-top: 2%;
  border: none;
  background-color: tomato;
  color: white;
  font: 400 2vmax;
  width: 20%;
  margin-left: 40% !important;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}
.btnprofile1:hover {
  background-color: rgb(179, 66, 46);
  color: black;
  font-weight: bold;
}
.btnprofile:hover {
  background-color: rgb(179, 66, 46);
  color: black;
  font-weight: bold;
}
.profilephoto {
  margin-top: 50px;
  margin-left: 110px !important;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  object-fit: fill;
  border: 2px solid rgba(216, 108, 108, 0.629);
}
.profilephoto:hover {
  transform: scale(1.15);
  border: 3px solid rgba(0, 0, 0, 0.738);
}
.bbb {
  background-color: white !important;
  margin-top: 120px !important ;
  margin-left: 250px !important;
}
.titt {
  text-align: center;
  margin-bottom: 3.5% !important;
  letter-spacing: 1px;
  color: red;
  font-weight: bold;
}
input[type="date"]::before {
  color: #999999;
  content: attr(placeholder);
}
input[type="date"] {
  color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}
