.alluser {
  width: 95% !important;
  padding: 1%;
  border: 1.8px solid rgb(156, 149, 149);
  border-radius: 25px;
  margin: 6% auto !important;
  background-color: rgba(173, 216, 230, 0.2);
}
.all {
  width: 81% !important;
  padding: 1%;
  border: 1px solid rgb(6, 6, 6);
  border-radius: 20px;
  margin: 90px 0% 3% 17% !important;
  background-color: rgba(173, 216, 230, 0.2);
}
.f2 {
  width: 80%;
  margin: 3% auto;
}
.profile1 {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 10px 0;
}
.profile1 > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 1.1vmax cursive;
  outline: none;
  cursor: not-allowed;
}
.profile1 > svg {
  transform: translateX(2vmax);
  font-size: 1.6vmax;
  color: green;
}
.profile {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 10px 0;
}
.profile > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 1.1vmax cursive;
  outline: none;
}
.profile > svg {
  transform: translateX(2vmax);
  font-size: 1.8vmax;
  color: green;
}
.profile > input:focus,
.profile > select:focus {
  border-radius: none !important;
  border: 1.8px solid rgba(0, 0, 255, 0.469);
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
}
.profileAd {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 10px 0;
}
.profileAd > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 1.1vmax cursive;
  outline: none;
}
.profileAd > svg {
  transform: translateX(2vmax);
  font-size: 1.5vmax;
  color: green;
}
.profileAd > input:focus {
  border-radius: none !important;
  border: 1.8px solid rgba(0, 0, 255, 0.469);
  box-shadow: -4px 10px 10px 5px rgba(0, 0, 0, 0.47);
}
.option {
  color: black;
}
.profile2 {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 10px 0;
}
.profile2 > svg {
  transform: translateX(2vmax);
  font-size: 1.8vmax;
  color: green;
}
.profile2 > .profilinp {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 1.1vmax cursive;
  outline: none;
}
.profilinp:focus {
  border-radius: none !important;
  border: 1.8px solid rgba(0, 0, 255, 0.469);
  box-shadow: -4px 10px 10px 5px rgba(0, 0, 0, 0.47);
}

.profile input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome */
.profile input::-webkit-inner-spin-button,
.profile input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btnprofile {
  margin-top: 2%;
  border: none;
  background-color: tomato;
  color: white;
  font: 300 1.1vmax;
  width: 20%;
  margin-left: 37.5% !important;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}
.btnprofile1 {
  margin-top: 2%;
  border: none;
  background-color: tomato;
  color: white;
  font: 400 2vmax;
  width: 20%;
  margin-left: 40% !important;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}
.btnprofile1:hover {
  background-color: rgb(179, 66, 46);
  color: black;
  font-weight: bold;
}
.btnprofile:hover {
  background-color: rgb(179, 66, 46);
  color: black;
  font-weight: bold;
}
.profilephoto {
  margin-top: 50px;
  margin-left: 110px !important;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  object-fit: fill;
  border: 2px solid rgba(216, 108, 108, 0.629);
}
.profilephoto:hover {
  transform: scale(1.15);
  border: 3px solid rgba(0, 0, 0, 0.738);
}
.bbb {
  background-color: white !important;
  margin-top: 120px !important ;
  margin-left: 250px !important;
}
.titt {
  text-align: center;
  margin-bottom: 3.5% !important;
  letter-spacing: 1.5px;
  color: rgb(255, 0, 0);
  font-weight: bold;
}
input[type="date"]::before {
  color: #999999;
  content: attr(placeholder);
}
input[type="date"] {
  color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}
