.allpage {
  margin-left: 15%;
  padding-top: 8%;
  /* background-color: red; */
  padding-bottom: 10% !important;
}
.ttt {
  width: 95.5% !important;
  margin: 5% auto !important;

}
.input111 {
  /* margin: 5px 2%; */
  padding: 0.5vmax 2vmax 0.5vmax 0.7vmax;
  width: 59%;
  /* box-sizing: border-box; */
  /* border: 1px solid rgba(0, 0, 0, 0.267); */
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}
