.trajet-card1 {
  width: 67%;
  margin: 7px auto;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 15px !important;
  height: 130px;
  background-color: rgba(173, 216, 230, 0.2);
}

.trajet-card1:hover {
  transform: scale(1.02);
  box-shadow: -5px 5px 10px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  cursor: auto;
}
.trajet-card {
  width: 100%;
  align-items: center;
  display: flex;
  height: 120px;
}
.trajet-body {
  /* display: flex; */
  width: 100%;
}

.trajet-row {
  /* padding: 10px; */
  /* margin: 20px; */
  width: 98%;
  height: 100% !important;
  margin: 0 auto !important;
  font-size: 15px;
}

.i1 {
  color: rgba(0, 0, 255, 0.61);
}
/* .trajet-row p {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.557);
  text-align: center !important;
} */
.name {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 25px;
  margin-bottom: 7px !important;
  font-size: 25px;
  color: black;
  font-weight: bold;
  background-color: red;
}
.name:hover {
  color: blue;
}
.sps {
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 17px;
  color: black;
  font-weight: 500;
  background-color: red;
}
.vil {
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 17px;
  color: black;
  background-color: red;
}
.image {
  width: 120px;
  height: 100px !important;
  align-items: center;
  margin-top: 1.5px;
  margin-left: 20px !important;
  border-radius: 15px !important;
  border: 1px solid black;
}
